@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:ital,wght@0,100;0,400;1,900&family=Rubik:wght@600&display=swap');

header {
    background-color: #E8C6BE;
    height: 45px;
    color: #878EA1;
}

#welcomeheader {
    text-align: center;
}

#homepagemsg {
    display: flex;
    background-color: #CEE8A7;
    width: 500px;
    height: fit-content;
    text-align: center;
    justify-content: center;
    position: absolute;
    rotate: -10deg;
    font-size: 20px;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
    padding: 10px 0;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #9C7870;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #Black
}

body {
    font-family: 'Nanum Myeongjo', serif;
    background-color: whitesmoke;
}

body p {
    margin: 0;
}

main {
    margin-left: 20px;
    background-color: whitesmoke;
}
table {
    display: table;
    border-collapse: collapse;
    width: 400px;
    box-sizing: border-box;
    text-indent: inherit;
    border-spacing: 5px;
    border-color: gray;
}

.homeicon {
    width: 16px;
}

th {
    border-bottom: 2px solid black;
    text-align: left;
    text-indent: 10%;
    font-weight: bold;
}

tr td:last-child {
    text-indent: 5%;
}

tbody tr {
    border-bottom: 1px solid black;
}

tbody tr:nth-child(even) {
    background-color: #CEE8A7;
}

.thaibasilchk {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thaibasilchk01 {
    width: 200px;
    height: 200px;
    display: block;
}

a:-webkit-any-link {
    text-decoration: none;
    color: #878EA1;
    font-family: ;
}

a:active { text-decoration: none;
    color: #878EA1
}

.beforefooter {
    height: 20px;
}

footer {
    position: static;
    padding: 20px 10px 10px 10px;
    bottom: 0;
    border-top: 4px solid #9C7870;
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    color: #9C7870;
    background-color: #E8C6BE;
    }
.igicon {
    height: 20px;
    width: 20px;
}

div.footer {
    display: grid;
    grid-template-columns: repeat(3, 525px);
    margin-left: 50px;
    margin-right: auto;
}

#footerig {
    text-align: right;
}

div.griddisplay {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: auto;
    margin: 5px 5px 5px 5px;
    align-self: center;
    padding: 50px 50px 50px 50px;
    border-style: outset;
    border-radius: 20px;
}

button {
    margin: 10px;
    font-family: 'Rubik', sans-serif;
    color: #878EA1;
    font-size: 18px;
    background-color: #CEE8A7;
    border: 0px;
    border-radius: 10px;
}

button:hover { background-color: rgb(215, 215, 214); }

.griddisplay div {
    margin: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 5px 5px rgb(226, 226, 226);
}

.griddisplay div:hover {
    background-color: #CEE8A7;
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}
